:root {
 --border-cock: green;
}

body {
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
}

.nav1 {
    list-style: none;
}
.nav1 li{ 

    display: inline-block;
}

.nav1 li a {
    transition: 0.2ms ease 0s;

}

.nav1 li a:hover {
    color: aqua;

}